# ------------------------
# Python
# ------------------------
pycache/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Виртуальные окружения
venv/
env/
.venv/
.env/

# Пакеты и сборки
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.whl

# Логи и базы данных
*.log
*.sqlite3
*.db
*.db-journal

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# ------------------------
# VS Code
# ------------------------
.vscode/
*.code-workspace

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Test reports / coverage
# ------------------------
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover
nosetests.xml
test-results/
*.junit.xml

# ------------------------
# XML (отчёты/кэш)
# ------------------------
*.xml

# ------------------------
# Windows
# ------------------------
Thumbs.db
Desktop.ini
$RECYCLE.BIN/